* {
  box-sizing: border-box;
}

body, html {
  width: 100vw;
  height: 100%;
  font-size: 16px;
  position: relative;
}

/* === HEADER === */

header {
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.header-cover {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

.header-wrapper {
  filter: brightness(120%);
  background: url('picture/layout/header-cover.jpg') no-repeat 0% center/cover;
  width: 100%;
  height: 100%;
}

.header-text-wrapper {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  display: table;
}

header h1 {
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
  font-weight: bold;
  line-height: 3rem;
  height: 3rem;
  width: 75%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(0,0,0,.1);
  color: #ddd;
}

/* === NAVIGATION === */

nav {
  position: fixed;
  top: 100px;
  width: 100vw;
  background-color: rgb(109, 165, 255);
  z-index: 5;
  display: block;
}

nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  height: 2rem;
  line-height: 2rem;
  color: #fff;
  background-color: rgb(109, 165, 255);
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 1.25rem;
}

nav a:hover {
  background-color: #fff;
  color: rgb(109, 165, 255);
  text-shadow: none;
  transition: all .15s ease-in-out;
}

.time {
  font-size: 1.25rem;
  width: 100%;
  height: 5rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: none;
}

#clock {
  vertical-align: middle;
  display: none;
}

/* === MAIN === */

.main {
  display: block;
  position: absolute;
  top: 292px;
  left: 0;
  width: 100%;
  background-color: rgba(109, 165, 255,.1);
  font-family: "Open Sans", sans-serif;
  padding-bottom: 3rem;
  color: rgba(0,0,0,.6);
}   

.article {
  display: block;
  padding: 1rem;
  
}
article h2,
.youtube h2{
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 .5rem 0;
}

article img {
  width: 50%;
  display: inline-block;
  float: left;
  margin: .5rem .5rem 0.5rem 0;
  box-shadow: 2px 2px 6px rgba(0,0,0,.4);
}

article p {
  font-size: 1rem;
  letter-spacing: .25px;
  line-height: 1.5rem;
}

.button a {
  text-decoration: none;
  color: #fff;
  width: 200px;
  background-color: rgb(109, 165, 255);
  font-family: "Merriweather", serif;
  font-weight: bold;
  display: block;
  font-size: 1rem;
  text-align: center;
  margin: .5rem auto 1rem auto;
  padding: .5rem;
  text-shadow: 0px 0px 3px rgba(0,0,0,.6);
  box-shadow: 2px 2px 4px rgba(0,0,0,.6;)
}

.button a:hover {
  background-color: #fff;
  color: rgb(109, 165, 255);
  text-shadow: none;
  transition: all .15s ease-in-out;
  box-shadow: 2px 2px 3px rgba(109, 165, 255,.5);
}

.article::after {
  content: "";
  display: block;
  width: 75%;
  height: 1px;
  background-color: rgb(109, 165, 255);
  margin: 1rem auto 0 auto;
}

.up-button a {
  text-decoration: none;
  display: block;
  color: #fff;
  width: 150px;
  display: block;
  background-color: rgb(109, 165, 255);
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto 1rem auto;
  padding: .5rem;
}

.up-button a:hover {
  background-color: #fff;
  color: rgb(109, 165, 255);
  text-shadow: none;
  transition: all .15s ease-in-out;
  box-shadow: 2px 2px 3px rgba(109, 165, 255,.5);
}

/* === FOOTER === */

footer {
  width: 100vw;
  height: 3rem;
  background-color: #111;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  color: white;
  font-size: 1rem;
}

.footer-cover {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
}

.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.25rem;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  color: rgb(158, 176, 255);
}

footer a:hover {
  color: rgb(104, 132, 255);
}


/* === EVENT, BAND === */

.event-header,
.band-header {
  text-align: center;
  font-size: 1.75rem;
  font-family: "Merriweather", serif;
  font-weight: bold;
  color: rgba(0,0,0,.6);
  border-bottom: 1px solid rgba(0,0,0,.6);
  padding-bottom: .75rem;
  margin-top: 1rem;
}

.band article {
  display: inline-block;
  width: 100%;
  top: 0;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.band h2 {
  text-align: center;
  margin-top: 1rem;
}


/* --- Responsive header & navigation --- */

@media (min-width: 450px) {
  
  .nav {
    display: block;
    float: left;
    width: 27.5vw;
    top: 110;
    height: 100%;
  }
  .main {
    float: left;
    display: block;
    width: 72.5vw;
    top: 100px;
    left: 27.5vw;
  }
  footer {
    display: fixed;
    width: 72.5vw;
    float: left;
    left: 27.5vw;
  }
}

@media (min-width: 640px) {
  .time {
    display: table;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
  }
  
  #clock {
    display: table-cell;
  }
  
  .band article {
    display: block;
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  header {
    height: 250px;
  }
  
  header h1 {
    font-size: 3.5rem;
    position: absolute;
    bottom: 0;
    width: 90%;
    margin: 1.5rem 5%;
  }
  
  .nav {
    position: fixed;
    top: 250px;
    width: 17.5vw;
  }
  
  .nav a {
    line-height: 3rem;
    height: 3rem;
    font-size: 1.75rem;
  }
  
  .main {
    top: 250px;
    padding: 1rem 3rem 3rem 3rem;
    width: 82.5vw;
    left: 17.5vw;
  }
  
  main h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  article img {
    max-width: 250px;
    margin-right: 1rem;
  }
  
  
   footer {
    width: 82.5vw;
    
    left: 17.5vw;
  }

}

@media (min-width: 1200px) {
  .main {
    padding: 1rem 1rem 3rem 1rem;
  }
  
  .article {
    width: 49.5%;
    display: inline-block;
  }
  
  .article p {
    font-size: 1.25rem;
  }
}

